@{
    ViewBag.Title = "Home Page";
}

<main>
    <div style="height: 700px;">
        <div class="col-md-12" id="viewDiv"></div>
    </div>

    <button id="count-bookmarks-button">Count Bookmarks</button>
</main>

<script type="module" defer="defer" src="./src/index.js"></script>
